body {
    font-family: Arial, Times New Roman;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3c3e56;
}

.container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

#menu {
    text-align: center;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    display: inline-block;
    margin-right: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

#menu ul li a:hover {
    color: #007bff;
}

.hidden {
    display: none;

}

input[type="password"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    width: calc(100% - 22px); /* Adjusted to fit inside the container with padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Center the placeholder text */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

#content {
    margin-top: 20px;
}
