body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #3c3e56; /* Updated background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.hidden {
    display: none;
}

input[type="password"] {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    width: calc(100% - 22px); /* Adjusted to fit inside the container with padding */
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Center the placeholder text */
}

button {
    padding: 10px 20px;
    font-size: 18px; /* Increased font size */
    cursor: pointer;
    border: none;
    border-radius: 5px; /* Rounded corners */
    background-color: #007bff;
    color: #fff;
    margin: 10px; /* Added margin between buttons */
}

button:hover {
    background-color: #0056b3;
}
.center {
  margin: auto;
  width: 50%;
  border: 3px;
  padding: 10px;
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    display: inline-block;
    margin: 0 10px; /* Added margin between menu items */
}

#menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px 20px; /* Adjust padding to match button padding */
}

#menu ul li a:hover {
    color: #007bff;
}
